body {
    margin: 0;

    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #3d3d3d;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.page {
    max-width: 330px;
    min-height: 800px;
    margin: 0 auto;
}

.about-benefits__title {
    margin: 1em 0;
    padding: 0 1em;

    text-align: center;
    font-weight: 700;
    font-size: 21px;
}

.about-benefits__item-img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    height: 200px;
}

.about-benefits__item-content {
    margin: 0 auto;
    width: 100%;
    padding: 30px 15px;
}

.about-benefits__item-title {
    margin-bottom: 0.5em;

    font-size: 19px;
    font-weight: 700;
}

@media screen and (min-width: 450px) {
    .page {
        max-width: 400px;
    }

    .about-benefits__item-img {
        max-width: 360px;
        height: 240px;
    }
}

@media screen and (min-width: 950px) {
    .page {
        max-width: 900px;
    }

    .about-benefits__item {
        display: flex;

        align-items: center;
    }

    .about-benefits__item:nth-of-type(2n) {
        flex-direction: row-reverse;
    }

    .about-benefits__title {
        padding: 0;
        font-size: 27px;
    }

    .about-benefits__item-content {
        padding: 30px 60px;
        width: 50%;
    }

    .about-benefits__item-title {
        font-size: 21px;
    }

    .about-benefits__item-img {
        max-width: 450px;
        height: 300px;
    }

    .about-benefits__item-img, .about-benefits__item-content {
        flex-basis: 50%;
        flex-shrink: 0;
    }

    .about-benefits__item-text {
        font-size: 15px;
    }
}

@media screen and (min-width: 1250px) {
    .page {
        max-width: 1200px;
    }

    .about-benefits__item-img {
        max-width: 600px;
        height: 400px;
    }
}